
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background-color: #ffff;
        color: #ffff;
      }
      .nav_container {
        margin-bottom: 15px;
        padding: 0%;
      }
      .nav {
        width: 100%;
        background-color: #f5f5f7;
        padding: 5px;
      }
      .nav ul {
        list-style-type: none;
        margin: 0%;
        padding: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        
      }
      .nav li {
        display: inline;
      }
      .nav a {
        
        text-decoration: none;
        color: #000000;

        position: relative;
      }
      .nav a::after {
        content: "";
        position: absolute;
        height: 2px;
        
        width: 100%;
        background-color: #000000;
        top: 100%;
        left: 0%;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }
      .nav a:hover::after {
        transform: scaleX(1);
      }

      .weblogo {
        width: 30px;
        height: 30px;
      }

      .nav {
        font-size: 12px;
        font-weight: lighter;
      }
      ul li {
        margin: 0%;
        padding: 0%;
      }

      .mobile {
        display: none;
      }
      @media (max-width: 500px) {
        /* hide these after 700px */
        .nav li:nth-child(3), /* Guitar */
  .nav li:nth-child(4), /* Ukulele */
  .nav li:nth-child(5)  /* More */ {
          display: none;
        }
        .mobile {
          display: inline;
        }
        .nav ul {
          gap: 15px;
        }
        .weblogo {
          width: 24px;
          height: 24px;
        }
      }
      .weblogoimg1 {
        width: 15px;
      }
      .weblogoimg {
        width: 20px;
      }
      .div2{
        display: flex;
        color: #000000;
        justify-content: center;
        margin: 0%;
        padding: 0%;
        margin-top: 5px;
        font-weight: normal;
        font-size: 10px;
        margin-bottom: 10px;
      }
    .seeoffers{
      margin-top: 5px;
    }
      .div3{
        height: 100%;
        width: 100%;
        color: #000000;
        background: #000004;
      }


      @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


.container {
display: grid;
align-items: center;
justify-content: center;
	background-color: #f5f5f7;
}

.card {
  margin-top: 100px;
  margin-bottom: 0%;
	position: relative;
	background: #1f2937;
	width: 350px;
	height: 200px;
	padding: 1rem;
	border-radius: 12px;
	transition: all 0.3s ease-in-out, opacity 0.3s;
	transition-delay: 0.6s, 0s;
	box-shadow: 0px 2px 2px 2px #000000;
	display: flex;
}

.details {
	position: relative;
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.3rem;
}

.details > h2 {
  color: #fbbf24;
	font-size: 1.5rem;
}

.details > span {
  color: #d99917;
	font-size: 1rem;
	font-weight: 400;
}
.details > button {
	color: #fff;
	background-color: #475569;
	padding: 0.3rem;
	border-radius: 8px;
	transition: all 0.4s;
	cursor: pointer;
}

.details > button:hover {
	transform: translateY(-5px);
}

.image {
	position: relative;
	width: 100%;
	height: 100%;
}

.image > img {
	position: relative;
	width: 100%;
	bottom: 40%;
  left: 20%;
}
.grid-container {
        display: grid;
        grid-template-columns: repeat(Auto-Fit, Minmax(400px ,1fr));
        grid-template-rows: 350px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
      }
